<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastrar Serviço</title>
  <link rel="stylesheet" href="/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/css/adminlte.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body>
  <main>
    <div class="content-header">
      <div class="container-fluid">
        <h1>Novo Serviço</h1>
      </div>
    </div>
    <div class="content">
      <div class="container-fluid">
        <form action="/admin/servicos" method="post">
          <div class="card">
            <div class="card-body">
              <fieldset>
                <legend>Identificação</legend>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="col-lg-3">
                      <div class="{{alert}}">
                      <p>{{{message}}}</p>
                    </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="nome">Nome</label>
                      <input type="text" required value="{{oldData.0.nome}}" class="form-control" name="nome" placeholder="nome do serviço" >
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="icone">Ícone</label>
                      <select name="icone" id="icone" class="form-control">
                        <option value="{{#if message}}{{oldData.0.icone}}{{^}}Selecione o Icone{{/if}}">{{#if message}}{{oldData.0.icone}}{{^}}Selecione o Icone{{/if}}</option>
                        <option value="twf-cleaning-1">Ícone 1</option>
                        <option value="twf-cleaning-2">Ícone 2</option>
                        <option value="twf-cleaning-3">Ícone 3</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="posicao">Posição na plataforma</label>
                      <input type="text" value="{{oldData.0.posicao}}" class="form-control" name="posicao" 
                      placeholder="Posição do serviço na plataforma" data-mask="00" required>
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <legend>Globais</legend>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="valorMinimo">Valor mínimo</label>
                      <input type="text" value="{{oldData.0.valorMinimo}}" class="form-control" name="valorMinimo"
                      placeholder="valor mínimo do serviço" required data-mask="#.##0,00" data-mask-reverse="true">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="quantidadeHoras">Quantidade mínima de horas</label>
                      <input type="number" value="{{oldData.0.quantidadeHoras}}" class="form-control" name="quantidadeHoras" placeholder="Quantidade mínima de horas"
                      data-mask="0" required>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="porcentagem">Porcentagem da comissão</label>
                      <input type="text" value="{{oldData.0.porcentagem}}" class="form-control" name="porcentagem"
                      placeholder="porcentagem da comissão do serviço" data-mask="000" required>
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <legend>Cômodos</legend>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="valorQuarto">Valor por quarto</label>
                      <input type="text" value="{{oldData.0.valorQuarto}}" class="form-control" name="valorQuarto" placeholder="Valor por quarto"
                      required data-mask="#.##0,00" data-mask-reverse="true">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="horasQuarto">Quantidade de horas por quarto</label>
                      <input type="number" value="{{oldData.0.horasQuarto}}" class="form-control" name="horasQuarto" placeholder="horas por quarto" data-mask="0" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="valorSala">Valor por sala</label>
                      <input type="text" value="{{oldData.0.valorSala}}" class="form-control" name="valorSala" placeholder="Valor por sala"
                      required data-mask="#.##0,00" data-mask-reverse="true">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="horasSala">Quantidade de horas por sala</label>
                      <input type="number" value="{{oldData.0.horasSala}}" class="form-control" name="horasSala" placeholder="Quantidade horas por sala" data-mask="0" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="valorBanheiro">Valor por banheiro</label>
                      <input type="text" value="{{oldData.0.valorBanheiro}}" class="form-control" name="valorBanheiro" placeholder="Valor por banheiro"
                      required data-mask="#.##0,00" data-mask-reverse="true">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="horasBanheiro">Quantidade de horas por banheiro</label>
                      <input type="number" value="{{oldData.0.horasBanheiro}}" class="form-control" name="horasBanheiro" placeholder="Quantidade horas por banheiro" data-mask="0" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="valorCozinha">Valor por cozinha</label>
                      <input type="text" value="{{oldData.0.valorCozinha}}" class="form-control" name="valorCozinha" placeholder="Valor por cozinha"
                      required data-mask="#.##0,00" data-mask-reverse="true">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="horasCozinha">Quantidade de horas por cozinha</label>
                      <input type="number" value="{{oldData.0.horasCozinha}}" class="form-control" name="horasCozinha" placeholder="Quantidade horas por cozinha" data-mask="0" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="valorQuintal">Valor por quintal</label>
                      <input type="text" value="{{oldData.0.valorQuintal}}" class="form-control" name="valorQuintal" placeholder="Valor por quintal"
                      required data-mask="#.##0,00" data-mask-reverse="true">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="horasQuintal">Quantidade de horas por quintal</label>
                      <input type="number" value="{{oldData.0.horasQuintal}}" class="form-control" name="horasQuintal" placeholder="Quantidade horas por quintal" data-mask="0" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="valorOutros">Valor por outros tipos de cômodos</label>
                      <input type="text" value="{{oldData.0.valorOutros}}" class="form-control" name="valorOutros" placeholder="Valor por outros cômodos"
                      required data-mask="#.##0,00" data-mask-reverse="true">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="horasOutros">Quantidade de horas por Outros</label>
                      <input type="number" value="{{oldData.0.horasOutros}}" class="form-control" name="horasOutros" placeholder="Quantidade horas por outros cômodos" data-mask="0" required>
                    </div>
                  </div>
                </div>
              </fieldset>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <button class="btn btn-primary" type="submit">Salvar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>
</body>
</html>