<main>
  <div class="content-header">
    <div class="container-fluid">
      <h1>Novo Usuário</h1>
    </div>
  </div>
  <div class="content">
    <div class="container-fluid">
      <form action="/admin/usuarios" method="post">
      <input type="hidden" name="_csrf" value="{{csrfToken}}" />
        <div class="card">
          <div class="card-body">
            <fieldset>
              <div class="row">
                <div class="col-lg-12">
                  <div class="col-lg-3">
                    <div class="{{alert}}">
                      <p>{{{message}}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" required value="{{oldData.0.nome}}" class="form-control" name="nome"
                      placeholder="Nome do Usuário">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" required value="{{oldData.0.email}}" class="form-control" name="email"
                      placeholder="Email do usuário">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" required value="" class="form-control" name="password"
                      placeholder="Senha">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="passwordConfirmation">Confirmação de Senha</label>
                    <input type="password" required value="" class="form-control" name="passwordConfirmation"
                      placeholder="Confirme a senha">
                  </div>
                </div>
            </fieldset>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <button class="btn btn-primary" type="submit">Salvar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>